@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family:  "Quicksand", sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(249, 245, 245);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    /* margin: 30px 30px; */
    padding: 20px  40px;
    background: #7b7a7a;
    font-size: 1.2rem;
}
 .company-name{
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
    
}
.nav-link{
  margin-right: 50px;
}
 .nav-link a{
    font-size: 0.9rem;
    margin: 0 10px ;
    /* margin-left: 0px; */
    opacity: 1;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.nav-bar .nav-link a:hover{
    opacity: 1;
    text-shadow: 2px 3px 12px rgba(225,15,15,0.77);

}
.container{
  max-width: 1450px;
  margin: auto;
  /* margin: 50px; */
}
#profile{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    /* max-width: 50%; */
}
#profile .picture{
    /* background-color: aqua; */
    /* flex-grow: 1; */
    width: 50%;
    padding: 0 10px;
   /* justify-content: right; */
}
.picture img{
    width: 60%;
    border-radius: 50%;
    /* justify-content: center; */
    box-shadow: 3px 7px 59px 3px rgba(0,0,0,0.91);
    /* justify-items: center; */
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    
}
#profile .information{
    /* flex-grow: 1; */
    width: 50%;
    padding: 0 10px;
    margin-left: 90px;
}
#profile .information button{
    padding: 10px 20px;
    background-color: aquamarine;
    border-radius:10px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 40px;
    font-weight: bold;
}
#profile .information button:hover{
background-color: coral;
}
#profile .information h1{
    font-size: 3rem;
    letter-spacing: 5px;
}
#profile .information h3{
    font-size: 2rem;
    letter-spacing: 2px;
    opacity: .5;
    margin-bottom: 40px;
}
#profile .information p{
    display: block;
    margin-left: auto;
    /* letter-spacing: 3px; */
    /* margin-bottom: 0%; */
    /* margin-top: 0%; */
}
#profile .information i{
    margin-right: 5px;
}
.information .socalmedia{
    font-size: 30px;
    display: flex;
    margin-top: 50px;
    /* margin-bottom: 500px; */
    /* width: 100%; */
    /* justify-content: start;
    justify-items: start    ; */
    /* gap: 0; */
    /* justify-items: center; */

    /* flex-direction: column; */
}
.information .socalmedia a:hover {
    color: rgb(113, 115, 112);
  
}
.information .socalmedia .fa-brands{
    /* display: inline-block; */
    letter-spacing: 10px;
}
.information  a{
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#about {
    margin-top: 170px;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 200px;
  }
  
  #about .info {
    flex-grow: 1;
    text-align: left;
    padding-left: 50px;
    max-width: 50%;
  }
  
  #about .info h3 {
    font-size: 2rem;
    letter-spacing: 3px;
    text-wrap: wrap;
    opacity: 1;
  }
  #about .info p {
    margin-top: 30px;
    font-size: 1.5rem;
    text-wrap: wrap;
    opacity: 1;
  }
  #about .image {
    flex-grow: 1;
    max-width: 50%;
  }
  
  .image img {
    margin-bottom: 100px;
    max-width: 100%;
  }
  
  .subject {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    font-size: 1rem;
  }
  
  .subject .frontend .s1 {
    padding: 15px;
    background-color: rgb(247, 159, 159);
    color: rgb(11, 11, 11);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .subject .frontend .s1:hover {
    box-shadow: -1px 7px 36px 11px rgba(0, 0, 0, 0.32);
  }
  .subject .backend .s2 {
    padding: 15px;
    background-color: teal;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .subject .backend .s2:hover {
    box-shadow: -1px 7px 36px 11px rgba(0, 0, 0, 0.32);
  }
  .btn {
    margin-top: 40px;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(220, 172, 12);
    border: none;
    color: white;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
  }
  .btn:hover {
    background-color: aquamarine;
    color: black;
  }
  /* section-3 */

  .Enducation{
    /* padding: 20px;
    display: grid;
    justify-content: space-between; */
  }
  .Enducation h3{
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-wrap: wrap;
    opacity: 0.6;
    margin-left: 1200px;

  }
  .Enducation-text{
    display: grid;
    grid-template-columns: 1.2fr 1fr ;
    padding: 50px 0px;
    gap: 2rem;
    margin-left: 250px;
  }
  .Enducation-text .text1{
    margin-left: auto;
    text-align: right;
  }
  .Enducation-text h1{
    margin-left: auto;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .Enducation-text p{
    margin-top: 0.7rem;
    font-style: italic;
  }
  .text2 .feb {
    margin-top: 3rem;
  }
  .text2 .Apr{
    margin-top: 3rem;
  }
  /* section-4 */
  .Experince h3{
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-wrap: wrap;
    opacity: 0.6;
    margin-left: 100px;
  }
  .Experince-text{
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 2rem;
    margin-top: 30px;
    /* font-size: 1.3rem;
    font-weight: 600; */
  }
  .Experince-text h1{
    font-size: 1.3rem;
    font-weight: 600;
  }
  .experince-year{
    text-align: right;
  }
  .Experince-General{
    margin-right: 100px;
  }
  .Experince-General p{
    margin-top: 0.7rem;
    font-style: italic;
  }
  .Experince-General ul{
    margin-top: 20px;
  }
  /* section-4 */
  /* map */
  .Container{
    margin-left: 100px;
  }
  .Container h3 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    letter-spacing: 3px;
    text-wrap: wrap;
    opacity: 0.6;
    /* justify-content: space-between; */
  }
  .Container .Info{
    display: flex;
    /* justify-content: space-between; */
  }
  #contact .message .form-group-50{
    display: flex;
  }
  #contact .message .form-group-50 .form-group{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
  }
  #contact .message .form-group-100 .form-group{
    margin-right: 20px;
    margin-bottom: 15px;
  }
  #contact .message .form-group-50 .form-group label
  #contact .message .form-group-100 .form-group label{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  #contact .message .form-group-50 .form-group input,
  #contact .message .form-group-100 .form-group input,
  #contact .message .form-group-100 .form-group textarea
  {
    width: 100%;
  }
  .Info .message , .Info .insert-map{
    flex-grow: 1;
    max-width: 50%;
  }
  #contact .message input,
  #contact .message textarea
  {
    border: 1px solid rgb(87, 87, 87);
    padding: 5px 10px;
    border-radius: 7px
  }
  #contact .message button{
    padding: 10px 45px;
    border: 1px;
    cursor: pointer;
    background: rgb(35, 119, 163);
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
  }
  #contact .message button:hover{
    background-color: rgb(43, 115, 154);
  }
footer{
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
  
  